/* header part Css start  */
img{
    max-width: 100%;
}
.container{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display:flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}
/* .peter-text{
    padding: 60px;
    width: 50%;
    font-weight: 700;
} */
.container > div{
   width:50%; 
}
.container img{
    width: 60%;
}
.peter-text{
    padding-left:5px;
}
.peter-color{
    color:orange;
}
h1{
    font-size:50px;
}
h3{
    font-size: 1.1em;
    font-weight: bold;
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
} 
/* .peter-img{
    max-width: 100%;
} */
/* header part end  */





 @media (max-width:576px) {
    /* header part start */
    .container{
        /* flex-wrap: wrap; */
        flex-direction: column;
        /* flex-direction: column-reverse; */
        justify-content: center;
        align-items: center;
    }
    .container > div{
        width:100%;
    }
    .container img{
        width: 100%;
    }
    
 }
 
 
 
 
 
 
 @media (max-width:700px) {
    .container > div{
        width:100%;
    }
    
 }   
